<nav aria-label="Breadcrumb">
  <ol class="breadcrumb-list">
    @for (item of items(); track item.label; let last = $last) {
    <li class="breadcrumb-item">
      @if (!last) {
      <a [routerLink]="item.url" [queryParams]="item.queryParams" class="breadcrumb-link">
        {{ item.label }}
      </a>
      <mat-icon class="separator">chevron_right</mat-icon>
      } @else {
      <span class="breadcrumb-current" aria-current="page">
        {{ item.label }}
      </span>
      }
    </li>
    }
  </ol>
</nav>
