<div class="gallery-container">
  @if (isLoading()) {
  <div class="loading-shade">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
  }

  <div class="gallery-actions">
    <div class="header-left">
      @if (currentPath() !== '') {
      <button mat-icon-button (click)="navigateUp()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      }
      <h2 class="current-folder-title">{{ folderTitle() }}</h2>
    </div>

    <div class="action-buttons">
      <button mat-stroked-button (click)="copyLink()"><mat-icon>link</mat-icon></button>
    </div>
  </div>

  <div class="gallery-grid">
    @for (item of items(); track item.name) { @if (item.type === 'folder') {
    <a [routerLink]="['/gallery']" [queryParams]="{ path: item.path }" class="gallery-item folder">
      <mat-icon class="folder-icon">folder</mat-icon>
      <span class="label">{{ item.name }}</span>
    </a>
    } @if (item.type === 'image') {
    <div class="gallery-item image" (click)="openImage(item)">
      <picture>
        <source [srcset]="item.url | webpUrl : 'thumbnail'" type="image/webp" />

        <img [src]="item.url" [alt]="item.name" loading="lazy" class="grid-img" />
      </picture>

      <div class="overlay">
        <span>{{ item.name }}</span>
      </div>
    </div>
    } } @empty { @if (!isLoading()) {
    <div class="empty-state">
      <mat-icon>folder_open</mat-icon>
      <p>Dieser Ordner ist leer.</p>
    </div>
    } }
  </div>
</div>
