<mat-toolbar color="primary" class="header">
  <button mat-icon-button (click)="opened = !opened">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Crow Gallery</span>

  <span class="spacer"> </span>
  <button matButton routerLink="/" routerLinkActive="active-link">
    <mat-icon matListItemIcon>home</mat-icon><span matListItemTitle>Main</span>
  </button>
  <button matButton routerLink="/gallery" routerLinkActive="active-link">
    <mat-icon matListItemIcon>photo_library</mat-icon><span matListItemTitle>Gallery</span>
  </button>

  @if (auth.accessToken()) {
  <button matButton routerLink="/upload" routerLinkActive="active-link">
    <mat-icon matListItemIcon>cloud_upload</mat-icon> <span matListItemTitle>Upload</span>
  </button>

  <span class="user-info">User: {{ auth.username() }}</span>
  <button mat-icon-button (click)="auth.logout()">
    <mat-icon>logout</mat-icon>
  </button>
  } @else {
  <button mat-icon-button routerLink="/login"><mat-icon>login</mat-icon></button>
  }

  <span class="spacer"></span>

  <button mat-icon-button (click)="themeService.toggle()">
    <mat-icon>
      {{ themeService.isDarkMode() ? 'light_mode' : 'dark_mode' }}
    </mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" [(opened)]="opened" class="sidenav">
    <div class="nav-tree-wrapper">
      <app-navigation-tree></app-navigation-tree>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="content-wrapper">
    @if (layout.breadcrumbs().length > 0) {
    <div class="breadcrumb-bar">
      <!-- Wichtig: layout.breadcrumbs() mit Klammern, da es ein Signal ist -->
      <app-breadcrumbs [items]="layout.breadcrumbs()"></app-breadcrumbs>
    </div>
    }

    <div class="page-content">
      <router-outlet></router-outlet>
    </div>

    <footer class="footer">
      <p>&copy; 2025 Crow Project</p>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>
