.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Nimmt die Höhe des Content-Bereichs ein */
  min-height: 500px;
  background-color: var(--mat-sys-background);
}

.login-card {
  width: 100%;
  max-width: 400px;
  padding: 16px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 16px;
}

mat-card-header {
  margin-bottom: 8px;
}

.error-text {
  color: var(--mat-sys-error);
  font-size: 14px;
  margin: 0;
  text-align: center;
}
