html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Damit der Dialog Fullscreen wird und keine runden Ecken hat */
.full-screen-modal .mat-mdc-dialog-container {
  padding: 0;
  --mdc-dialog-container-color: black; /* Hintergrund schwarz */
}

/* --- Notification Toasts --- */

/* Basis für den Text im Toast */
.mat-mdc-snack-bar-label {
  font-weight: 500;
  font-size: 14px;
}

/* Success (Grünlich) */
.toast-success {
  /*
  --mdc-snackbar-container-color: #e6f4ea;
   --mdc-snackbar-supporting-text-color: #1e4620;
  --mat-snack-bar-button-color: #1e4620;
*/
  /* Wir überschreiben die internen Variablen der Komponente */
  --mdc-snackbar-container-color: #e6f4ea !important; /* Hintergrund */
  --mdc-snackbar-supporting-text-color: #1e4620 !important; /* Text */
  --mat-snack-bar-button-color: #1e4620 !important;
}

/* Error (Rötlich) */
.toast-error {
  /*
  --mdc-snackbar-container-color: #fce8e6;
  --mdc-snackbar-supporting-text-color: #c5221f;
  --mat-snack-bar-button-color: #c5221f;
*/
  --mdc-snackbar-container-color: #fce8e6 !important;
  --mdc-snackbar-supporting-text-color: #c5221f !important;
  --mat-snack-bar-button-color: #c5221f !important;
}

/* Info (Dunkel / Standard) -- Nutzen wir einfach die Material Defaults (Dunkelgrau)*/
.toast-info {
  --mdc-snackbar-container-color: #e3f2fd !important;
  --mdc-snackbar-supporting-text-color: #0d47a1 !important;
  --mat-snack-bar-button-color: #0d47a1 !important;
}

/* --- Global Styles für den Photo Viewer --- */

/* 1. Der Hintergrund (Backdrop) */
.blur-backdrop {
  /* Der Weichzeichner-Effekt */
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px); /* Safari Support */

  /* Halbtransparenter dunkler Hintergrund */
  background-color: rgba(0, 0, 0, 0.6) !important;
}

/* 2. Das Modal-Fenster selbst (Panel) */
.photo-modal-panel {
  /* Schatten für den "Pop-Out" Effekt */
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5) !important;

  /* Wichtig: Standard-Material-Padding entfernen, damit unser Bild randlos ist */
  padding: 0 !important;
  border-radius: 16px !important; /* Abgerundete Ecken für das ganze Modal */
  overflow: hidden !important; /* Damit der Inhalt nicht über die runden Ecken ragt */
}

/* Auf kleinen Handys wollen wir vielleicht trotzdem fast Fullscreen */
@media (max-width: 600px) {
  .photo-modal-panel {
    max-width: 95vw !important;
    height: 90vh !important;
  }
}
